.border{

    border: 1px solid red;
    margin: 3px;
}
.flex{

    display: flex;
}
.justifly-center{

    justify-content: center;
}
.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color:white ;
}
.invert{
  filter: invert(1);
}
.bg-gray{

 background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

   /* Define scrollbar styles */
   ::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #222; /* Background color of the track */
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333; /* Color of the scrollbar handle */
    border-radius: 6px; /* Rounded corners of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777; /* Color of the scrollbar handle when hovered */
}
